header {
  background-color: $rojo;
  color: $dorado;
  width: 100%;
  padding: 30px 15px;

  h1 {
    text-align: center;
    margin-bottom: 15px;
  }

  nav {
    @include flex-center;
    gap: 20px;
    flex-wrap: wrap;

    .nav-link {
      color: $dorado;
      text-decoration: none;
      font-weight: bold;
      border: 2px solid $dorado;
      padding: 8px 12px;
      border-radius: 4px;
      background-color: $rojo;
      cursor: pointer;
      transition: background-color 0.3s ease;

      .nav-link {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        cursor: pointer;
      }

      &:hover {
        background-color: #1f0000;
        text-decoration: none;
      }
    }
  }
}
