main {
  max-width: 1100px;
  margin: 50px auto;
  padding: 0 20px;
}

.section-box {
  background-color: $gris;
  padding: 40px;
  margin-bottom: 50px;
  border-radius: 15px;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}
