@media (max-width: 900px) {
  .grid-3 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .grid-3 {
    grid-template-columns: repeat(1, 1fr);
  }

  header nav {
    flex-direction: column;
  }

  .img-standard {
    max-width: 100%;
  }
}
